.inline-date-editor--stub-input {
    width: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
    visibility: collapse !important;
}

.inline-date-decoration {
    text-decoration-line: underline;
    text-decoration-color: var(--text-faint);
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}
