.inline-date-editor--stub-input {
    width: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
    visibility: collapse !important;
}

.inline-date-decoration {
    text-decoration-line: underline;
    text-decoration-color: var(--color-base-20);
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}

.inline-date-decoration:hover {
    text-decoration-color: var(--color-base-40);
}
